@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<br />
<p>
    This application was  created for administration local database "Catalog of Books".<br /><br />

    Stack of technologies : ASP.NET Core, AngularJS, Bootstrap CSS Framework.

</p>
