@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    Natlja Lipina<br />
    TU Narva Сollege <br />
    2019
</address>

<address>
    <strong>E-post:</strong> <a href="">natalja04@mail.ru</a><br />
</address>
