@model IEnumerable<CatalogCRUD.Models.Book>
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h2>Books</h2>
        <h3>Welcome to Books Catalog</h3>
    </div>
</div>