@model CatalogCRUD.Models.Book

@{
    ViewData["Title"] = "Edit";
}




<hr />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Edit Book <span class="bookName-edit badge">@Model.Name</span></h3>
            </div>
            <div class="panel-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Author" class="control-label"></label>
                        <input asp-for="Author" class="form-control" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryName" class="control-label"></label>
                        <!--<input asp-for="CategoryName.Name" class="form-control" /> -->
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                        <select class="form-control" asp-for="CategoryName.Name">
                            <option ng-repeat="c in Categories" value={{c.name}}>{{c.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreationDate" class="control-label"></label>
                        <input asp-for="CreationDate" class="form-control" />
                        <span asp-validation-for="CreationDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PagesNumber" class="control-label"></label>
                        <input asp-for="PagesNumber" class="form-control" />
                        <span asp-validation-for="PagesNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <a class="btn btn-primary" asp-action="Index">Back to List</a>
                        <input type="submit" value="Save" class="btn btn-success" />

                    </div>
                </form>
            </div>
        </div>




    </div>
    <div class="col-md-2"></div>
</div>

<div>
    
</div>

