@model IEnumerable<CatalogCRUD.Models.Book>
@{
    ViewData["Title"] = "Books";
}

<div class="row">
    <div class="col-md-4">
        <h3 class="header-st">Book Catalog</h3>


        @*<div class="form-group">
                <select ng-model="searchBy" class="form-control">
                    <option value="Name">Name</option>
                    <option value="Author">Author</option>
                    <option value="CategoryName">CategoryName</option>
                    <option value="Description">Description</option>
                    <option value="CreationDate">CreationDate</option>
                    <option value="Price">Price</option>
                    <option value="PagesNumber">PagesNumber</option>
                </select>
            </div>*@

    </div>

</div>


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="sr-only" for="search">Search</label>
            
            <div class="input-group">
                <input type="text" class="form-control search-input" ng-model="search[searchBy]" placeholder="Search">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        @if (TempData["message"] != null)
        {
            <div class="alert bg-info alert-dismissible">
                @TempData["message"]
            </div>
        }


    </div>


</div>   

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive table-st">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="active">
                        <th>
                            Name
                        </th>
                        <th>
                            Author
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Pages
                        </th>
                        <th>
                            Price
                        </th>
                        <th colspan=3 class="add-btn">
                            <p>
                                <a asp-action="Create" class="btn btn-primary btn-xs ">
                                    Add New
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </a>
                            </p>
                        </th>


                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in GetAllBooks | filter:search">
                        <td class="col-md-3">
                            {{i.name}}
                        </td>
                        <td class="col-md-1">
                            {{i.author}}
                        </td>
                        <td class="col-md-1">
                            {{i.categoryName.name}}
                        </td>
                        <td class="col-md-2">
                            {{i.creationDate.replace("T", "-").substring(0, 19)}}
                        </td>
                        <td class="col-md-3">
                            {{i.description.substring(0,100)}}...
                        </td>
                        <td class="col-md-1">
                            {{i.pagesNumber}}
                        </td>
                        <td class="col-md-1">
                            {{i.price}} $
                        </td>

                        <td>
                            <a asp-action="Details" data-ng-href='Book/Details/{{i.id}}'>
                                <span class="glyphicon glyphicon-eye-open icon-view" aria-hidden="true"></span>
                            </a>
                        </td>
                        <td>
                            <a asp-action="Edit" data-ng-href='Book/Edit/{{i.id}}'>
                                <span class="glyphicon glyphicon-pencil icon-edit" aria-hidden="true"></span>
                            </a>
                        </td>
                        <td>
                            <a asp-action="Delete" data-ng-href='Book/Delete/{{i.id}}'>
                                <span class="glyphicon glyphicon-trash icon-delete" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>
